In [1]:
# Q1

In [ ]:
T(n)=3T(n−1)+12n
T(1)=3T(1−1)+12(1)=3T(0)+12=3(5)+12=15+12=27
T(2)=3T(2−1)+12(2)=3T(1)+24=3(27)+24=81+24=105
So, 
T(2)=105

In [3]:
# Q2

In [ ]:
a.
T(n)=T((n−1)−1)+c=T(n−2)+c
T(n)=T((n−2)−1)+c=T(n−3)+c
...
T(n)=T(n−k)+kc
When n−k=0, then k=n. 
So,
T(n)=T(0)+nc
This is the final solution for T(n) in terms of c.

In [ ]:
c.
T(n)=2T(n/2)+c

T(n/2):
T(n)=2(T(n/2^2))+c=2^2T(n/2^2)+2c
T(n)=2^3(T(n/2^3))+3c
...
T(n)=2^k(T(n/2^k))+kc

When n/2^k=1 (base case), then 
k=log2 n. So,
T(n)=2^log2​nT(1)+c⋅log2​n
T(n)=nT(1)+c⋅log 2​n

As T(1) is a constant, this is the final solution for T(n) in terms of c and n.

In [7]:
# Q3

In [ ]:
a. T(n)=2T(n−1)+1
Starting with T(n):
T(n)=2T(n−1)+1
T(n−1)=2T(n−2)+1
T(n−2)=2T(n−3)+1
…
T(1)=2T(0)+1

In [ ]:
              T(n)
             /    \
        T(n-1)    1
        /    \
   T(n-2)    1
     / \
T(n-3) 1
  .
  .
T(1)  1

In [ ]:
b.           T(n)
         /    \
   T(n/2)      T(n/2)
   /   \        /   \
T(n/4) T(n/4) T(n/4) T(n/4)